@charset "UTF-8";
/* CSS Document */
body {
  background: #FFFFFF;
}

.welcomephoto {
	padding-top: 40px;
	border-bottom: medium ridge red;
	max-width: 100%;
	height: auto
	
}
	

.Heading {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.col-lg-4 {
	
}
	

