@charset "UTF-8";
/* CSS Document */
body {
  background: #FFFFFF;
}

.welcomephoto {
	padding-top: 40px;
	border-bottom: medium ridge red;
	max-width: 100%;
	height: auto
	
}
	

.Heading {
	text-align: center;
	padding: 50px;
}

.description {
	font-size: 20px;
}

.rounded-circle {
	align-content: center;
}

.col-lg-4 {
	align-content: center;
	padding-bottom: 60px;
}

.featurette {
	padding-top: 50px;
}


 
	

